
/*Login Page*/
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    width: 50%;
    margin:auto;
    margin-top: 20%;
}

/* Full-width inputs */
input[type=text], input[type=email], input[type=password], input[type=url], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

.error {
    text-align: center;
    color: red;
}

.message{
    text-align: center;
}


/*Admin Page*/
#header ul{
	background-color: rgba(0,0,0);
	margin: 0px;
	height: 60px;
}

#header ul li{
	vertical-align: middle;
	line-height:55px;
	margin: 30px;
	color: white;
	display: inline;
}

#header ul li a{
	text-decoration: none;
	color: #fff;
}

.grid-container {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  padding: 10px;
  margin: 50px 100px 50px 100px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 25px;
  padding: 20px;
  opacity: 0.9;
  grid-gap: 100px;
  flex: 1;
}

.pedidos-item{
    height: 450px;
}

.grid-item img{
    float: left;
}

.ctitle{
    font-size: 30px;
}

.ctext{
    font-size: 15px;
}

.cpreco{
    font-size: 20px;
}

.btnadd{
    margin: 50px 100px 50px 100px;
}

.btncont{
    position: absolute;
    max-width: 80%;
    margin-left: 7%;
    bottom: 5%;
}

.addpizza {
    border: 3px solid #f1f1f1;
    width: 50%;
    margin:auto;
    margin-top: 10%;
}