{% extends 'personal/adminHeader.html' %}
{% load static %}

{% block content %}
<div>
    <form action="{% url 'addPizza' %}" method="post" class="addpizza">{% csrf_token %}
        <div class="container">
            <label for="img"><b>Imagem:</b></label>
            <input type="url" placeholder="Digite a url da imagem" name="img" required>

            <label for="nome"><b>Nome da Pizza:</b></label>
            <input type="text" placeholder="Digite o nome da pizza" name="nome" required>

            <label for="desc"><b>Descrição</b></label>
            <input type="text" placeholder="Digite a descrição da pizza" name="desc" required>

            <label for="preco"><b>Preço da Pizza:</b></label>
            <input type="number" placeholder="Digite o preço" name="preco" required>

            <button type="submit">Adicionar</button>
        </div>
    </form>
    <h2 class='message'>{{ result }}</h2>
</div>
{% endblock %}