{% extends 'personal/adminHeader.html' %}
{% load static %}

{% block content %}
<div class="grid-container">
    {% for chave, pizza in pizzas.items %}
        <div class="grid-item">
            <img src="{{ pizza.imagem }}" width="200">
            <div>
                <p class="ctitle">{{ pizza.nome }}</p>
                <p class="ctext">{{ pizza.descricao }}</p>
                <p class="cpreco">R$ {{ pizza.preco|floatformat:2 }}</p>
                <button>Editar</button>
                <button>Remover</button>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}