{% extends 'personal/adminHeader.html' %}
{% load static %}

{% block content %}

<div class="status">
    <p><b>Pedidos abertos: </b></p>
    <p><b>Quantidade de pizzas vendidas hoje: </b></p>
    <p><b>Lucro do dia: </b></p>
</div>

<input type="hidden" id="url" data-url="{% url 'checkUpdates' %}"/>{% csrf_token %}
<input type="hidden" id="orderUrl" data-url="{% url 'completeOrder' %}"/>

<div class="grid-container container">
    <div id="listaPedidos" class="row mx-4 my-3">
        {% include "personal/listaPedidosAdmin.html" %}
    </div>
</div>
<script src="{% static '/js/checkUpdates.js' %}"></script>
<script src="{% static '/js/admin.js' %}"></script>
<script>
    setInterval(getListaPedidos, 5000);

    function getListaPedidos(){
        $.post("{% url 'getListaPedidos' %}", { csrfmiddlewaretoken : csrftoken }, function(resp) {
            $("#listaPedidos").html(resp)
        });
    }
</script>

{% endblock %}