{% extends 'personal/adminHeader.html' %}
{% load static %}

{% block content %}
<div class="grid-container container">
    <div class="row mx-4 my-3">
    {% for chave, pizza in pizzas.items %}
        <div class="grid-item col-md-6 col-sm-12">
            <div id="{{ pizza.nome }}Info" class="{{ pizza.nome }}Tab">
                <img src="{{ pizza.imagem }}" width="150">
                <p class="ctitle">{{ pizza.nome }}</p>
                <p class="ctext">{{ pizza.descricao }}</p>
                <p class="cpreco">R$ {{ pizza.preco|floatformat:2 }}</p>
                <button id="btnInfo" class="btn btn-success" onclick="changeTab('{{pizza.nome}}', 'Edit')">Editar</button>
                <form id="remove" style=" width: 100%; margin: 0%;" action="{% url 'adminCardapio' %}" method="POST">{% csrf_token %}
                    <button class="btn btn-danger" type="submit" name="remove" value="{{ pizza.nome }}">Remover</button>
                </form>
            </div>
            <div id="{{ pizza.nome }}Edit" class="{{ pizza.nome }}Tab">
                <form id="editPizza" class="col-12" style="margin-top: 0%;" action="{% url 'adminCardapio' %}" method="POST">{% csrf_token %}
                    <h3>Editar {{ pizza.nome }}</h3><br/>
                    
                    <label for="img"><b>Imagem:</b></label>
                    <input type="url" placeholder="Digite a url da imagem" name="img" value="{{ pizza.imagem}}" required>

                    <label for="desc"><b>Descrição</b></label>
                    <input type="text" placeholder="Digite a descrição da pizza" name="desc" value="{{ pizza.descricao }}" required>
        
                    <label for="preco"><b>Preço da Pizza:</b></label>
                    <input type="number" placeholder="Digite o preço" name="preco" value="{{ pizza.preco }}" required>

                    <div class="row">
                        <button class="col-md-6 col-sm-12 btn btn-success" name="edit" value="{{ pizza.nome }}" type="submit">Confirmar</button>
                        <button id="btnEdit" name="defaultOpen" type="button" class="col-md-6 col-sm-12 btn btn-danger" onclick="changeTab('{{ pizza.nome }}', 'Info')">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<script src="{% static '/js/adminCardapio.js' %}"></script>
{% endblock %}