{% extends 'personal/header.html' %}
{% load static %}

{% block content %}

    <div class="grid-container">
        {% for chave, pizza in pizzas.items %}
            <div class="grid-item">
                <img src="https://cache.dominos.com/olo/5_40_3/assets/build/market/BR/_pt/images/img/products/larges/S_PIZQU.jpg" alt="3 Queijos Pizza - Mussarela, requeijão e parmesão ralado." width="200">
                <div>
                    <p class="ctitle">{{ pizza.nome }}</p>
                    <p class="ctext">{{ pizza.descricao }}</p>
                    <p class="cpreco">R$ {{ pizza.preco|floatformat:2 }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <!--<button class="collapsible">Open Collapsible</button>
    <div class="teste">
        <p>Lorem ipsum...2</p>
    </div>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>-->

{% endblock %}