{% load static %}
<div id="listaPizzas" class="grid-container tabContentCard row mx-5 my-5">
    <div id="headerCard" class="col-md-3">
        <ul>
            <li> <button class="tablinksCard" onclick="openTabCard(event, 'listaPizzas')" id="defaultOpenCard">Pizzas </button> </li>
            <li> <button class="tablinksCard" onclick="openTabCard(event, 'listaBebidas')">Bebidas </button> </li>
        </ul>
    </div>
    <div class="col-md-9"></div>
    {% for chave, pizza in pizzas.items %}
        <div class="grid-item col-md-6 col-sm-12">
            <img src="{{ pizza.imagem }}" width="200">
            <p class="ctitle">{{ pizza.nome }}</p>
            <p class="ctext">{{ pizza.descricao }}</p>
            <p class="cpreco">R$ {{ pizza.preco|floatformat:2 }}</p>
        </div>
    {% endfor %}
</div>
<div id="listaBebidas" class="grid-container tabContentCard row mx-5 my-5">
    <div id="headerCard" class="col-md-3">
        <ul>
            <li> <button class="tablinksCard" onclick="openTabCard(event, 'listaPizzas')">Pizzas </button> </li>
            <li> <button class="tablinksCard" onclick="openTabCard(event, 'listaBebidas')">Bebidas </button> </li>
        </ul>
    </div>
    <div class="col-md-9"></div>
    {% for chave, refri in refrigerante.items %}
        <div class="grid-item col-md-6 col-sm-12">
            <img src="{{ refri.imagem }}" width="200">
            <p class="ctitle">{{ refri.nome }}</p>
            <p class="cpreco">R$ {{ refri.preco|floatformat:2 }}</p>
        </div>
    {% endfor %}
</div>