{% extends 'personal/header.html' %}
{% load static %}

{% block content %}

<input type="hidden" id="url" data-url="{% url 'checkUpdates' %}"/>{% csrf_token %}

<div class="tab">
    <div id="Home" class="tabContent">
        <h1 class="hometext">PIZZA. CHAT.<br/>BOTS</h1>
    </div>
    <div id="Cardapio" class="tabContent">
        <div id="CardapioGrid">
            {% include "personal/cardapio.html" %}
        </div>
    </div>
    <div id="PedidoPesquisa" class="tabContent">
        <div class="row my-5">
            <div class="grid-item offset-md-4 offset-sm-1 col-sm-10 col-md-4">
                <div style='text-align:center'>
                    <input id="fone" type="text" required/>
                    <button class="btn btn-default my-2" onclick="getPedido()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </div>
        <div id="Pedido">
        </div>
    </div>
</div>
<script src="{% static '/js/checkUpdates.js' %}"></script>
<script>
    setInterval(getCardapio, 30000);

    function getPedido(){
        var fone = $('#fone').val().replace("(", "").replace(") ", "").replace("-", "")
        var getPedidoUrl = "{% url 'getPedido' fone=0%}".replace("0", fone)
        $("#Pedido").html('').load(getPedidoUrl);
    }
    
    function getCardapio(){
        $.post("{% url 'getCardapio' %}", { csrfmiddlewaretoken : csrftoken }, function(resp) {
            var dispPizza = $("#listaPizzas").css("display")
            var dispBebidas = $("#listaBebidas").css("display")
            $("#CardapioGrid").html(resp)
            $("#listaPizzas").css("display", dispPizza)
            $("#listaBebidas").css("display", dispBebidas)
        });

        checkOffset();
    }
</script>
{% endblock %}