{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Compizza</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheetadmin.css' %}">
    </head>
    <body>
        <form action="{% url 'login' %}" method="POST">{% csrf_token %}
            <div class="container">
                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="Enter Username" name="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
            </div>
        </form>
        {% if error %}
            <h2 class="error">Usuário ou senha incorretos</h2>
        {% endif %}
    </body>
</html>